@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #343a40;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a { color: #f8f9fa; letter-spacing: .04em; text-decoration: none;}


.row { padding: 2em;}
.col-6 { float: left; width: 48%; padding: 15px; }
.col-3 { float: left; width: 33.33%; padding: 15px; }
.row::after { content: ""; display: table; clear: both; }

/* LOGO */
.logo { text-align: center; }
.logo p:nth-child(1) {  text-transform: uppercase; }
.logo p:nth-child(1){ font-family: "Tilt Warp", sans-serif; font-size: 1.4em; color: #fff; letter-spacing: -.03em; font-weight: 800; margin-top: .2em;}
.logo p:nth-child(2) { letter-spacing: .35em; font-size: .5em; position: relative;  top:-.4em; }

/* HEADER */
header { display: flex; flex-direction: row; background-color: #991c1c;}
header .logo { color: #fff; padding-right: 27em; }
nav {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    background-color: #991c1c;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Posiciona los elementos de la lista de manera horizontal */
    justify-content: center;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: .9em;
}
nav ul li a:hover { background-color: #fff; color: #991c1c; }
nav .btn-reservas a { border: 1px solid #fff;  padding: 7px 20px; border-radius: 6px; margin-top: .4em; margin-left: 1em;}


/* CONTENT */
main { padding: 0; }
section { margin-bottom: 2rem; }
section h1 { font-family: "Tilt Warp", sans-serif; font-size: 3em; letter-spacing: -.03em; font-weight: 600; margin-top: 2em; margin-left: 1em; color: #991c1c; text-transform: uppercase;}
section#welcome { 
    background-image: url('img/background.png'); 
    background-repeat: no-repeat; 
    background-position: top left; 
    height: 700px; 
    background-size:cover; 
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    padding-left: 7em;
}
section#welcome h3 { font-family: "Tilt Warp", sans-serif; font-size: 1.5em; line-height: 1em; padding-left: .4em; font-weight: 400;}
section#welcome h1 { font-family: "Tilt Warp", sans-serif; font-size: 8em; font-weight: 900; letter-spacing: -.05em; text-transform: uppercase; color: #991c1c; line-height: 1em; margin-left:0; margin-top: 0;}
section#welcome p { font-size: 1.2em; font-weight: 700; line-height: .9em; padding-left: .8em; text-transform: uppercase;}

section#menu, section#historia { margin: 1em 8em; }
section#menu h2 { font-size: 2em; margin-bottom: 1em;}
section#menu .item { margin-bottom: 2.2em; }
section#menu .item-title {font-weight: 600; font-size: 1.2em; margin-top: 1em;  display: flex; flex-direction: row; justify-content: space-between; padding-right: 2em;}

section#historia p { margin-left: 3em; margin-bottom: .4em; margin-top: 1em}
section#historia .container { width: 60%; margin: 2rem auto; }
section#historia .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
}
section#historia .gallery_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section#historia .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
section#historia .item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
section#historia .item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
section#historia .item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
section#historia .item-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
 }
 section#historia .item-6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
section#historia .item-7 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
}

section#reservations { 
    background-image: url('img/bg-reservations2.png'); 
    background-repeat: no-repeat; 
    background-position: top left; 
    background-size: cover;
    height: 700px; 
    margin-bottom: 0;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section#reservations .reservation-info {
    font-size: 17px;
    font-weight: 700;
    fill: #FFFFFF;
    color: #FFFFFF;
    padding: 2em;
    background-color: #05030391;  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-spacing: .2em;
}
section#reservations .reservation-info h2 {
    border: 2px solid #fff;
    border-radius: 6px;  
    margin-bottom: 1em; 
    padding: .2em 5em;
}
section#reservations .phone, section#reservations .mail  { font-size: 1.3em; }
section#reservations p { margin-bottom: .7em; font-weight: 400; margin-top: 1em;}

  
/* FOOTER */
footer { background-color: #fff; color: #333; text-align: center; padding: 1rem; width: 100%; }
footer .logo-container { display: flex; }
footer .logo p { color: #991c1c !important; } 
footer .location, .reservations, .opening-hours { text-align: left; }
footer .reservations a { color: #333 !important;}
footer .col-3 h2 { font-size: 1em; }
footer .location .mapa img {width: 200px; margin: 10px;}
footer .opening-hours { margin-top: 2em;}
footer .social-media { margin-top: 1em;}
footer .social-media h5 { padding-top: 1em; letter-spacing: .2em;}
footer .social-media a { color: #fff; margin-left: 1em; }
footer .social-media a:first-child { margin-left: 0; }
footer .copyright { font-size: .8em; padding: 1em; border-top: 1px solid #666; color: #343a40; }


/* RESPONSIVE */
@media screen and (max-width:600px) {
    .col-6, .col-4 { width: 100%; }
  }